In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

from textblob import TextBlob
from textblob.sentiments import NaiveBayesAnalyzer

In [2]:
col_names = ['x','ids', 'date', 'QUERY', 'Username', 'Statement']
data = pd.read_csv('../Downloads/training.csv', encoding = 'latin1', names = col_names, header=None)

In [3]:
data.shape

(1600000, 6)

In [4]:
data.head()

,x,ID,Date,QUERY,Username,Statement
0,0,1467810369,Mon Apr 06 22:19:45 PDT 2009,NO_QUERY,_TheSpecialOne_,"@switchfoot http://twitpic.com/2y1zl - Awww, t..."
1,0,1467810672,Mon Apr 06 22:19:49 PDT 2009,NO_QUERY,scotthamilton,is upset that he can't update his Facebook by ...
2,0,1467810917,Mon Apr 06 22:19:53 PDT 2009,NO_QUERY,mattycus,@Kenichan I dived many times for the ball. Man...
3,0,1467811184,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,ElleCTF,my whole body feels itchy and like its on fire
4,0,1467811193,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,Karoli,"@nationwideclass no, it's not behaving at all...."

In [5]:
data = data.drop(['x'], axis=1)
data.head()

,ID,Date,QUERY,Username,Statement
0,1467810369,Mon Apr 06 22:19:45 PDT 2009,NO_QUERY,_TheSpecialOne_,"@switchfoot http://twitpic.com/2y1zl - Awww, t..."
1,1467810672,Mon Apr 06 22:19:49 PDT 2009,NO_QUERY,scotthamilton,is upset that he can't update his Facebook by ...
2,1467810917,Mon Apr 06 22:19:53 PDT 2009,NO_QUERY,mattycus,@Kenichan I dived many times for the ball. Man...
3,1467811184,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,ElleCTF,my whole body feels itchy and like its on fire
4,1467811193,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,Karoli,"@nationwideclass no, it's not behaving at all...."

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1600000 entries, 0 to 1599999
Data columns (total 5 columns):
 #   Column     Non-Null Count    Dtype
---  ------     --------------    -----
 0   ID         1600000 non-null  int64
 1   Date       1600000 non-null  object
 2   QUERY      1600000 non-null  object
 3   Username   1600000 non-null  object
 4   Statement  1600000 non-null  object
dtypes: int64(1), object(4)
memory usage: 61.0+ MB

In [7]:
labels = []

for x,y in data.Statement.iteritems():
    label = TextBlob(y)
    labels.append(label.sentiment.polarity)

labels

[0.21666666666666667,
 0.0,
 0.5,
 0.2,
 -0.625,
 0.2,
 0.0,
 0.27083333333333337,
 0.0,
 0.0,
 -0.21428571428571427,
 0.0,
 0.0,
 0.0,
 0.075,
 0.0,
 0.0,
 0.0,
 0.78125,
 0.0,
 0.35,
 0.0,
 0.0,
 0.0,
 0.0,
 -0.8,
 0.0,
 -0.5,
 0.225,
 0.0,
 0.13636363636363635,
 0.0,
 0.0,
 1.0,
 0.0,
 -0.20571428571428568,
 -0.17,
 -0.625,
 -0.6,
 0.8,
 0.2,
 0.0,
 -0.625,
 0.13333333333333333,
 -0.5,
 0.4166666666666667,
 0.0,
 0.5,
 -0.5,
 -0.5,
 -0.2,
 0.1,
 -0.325,
 -0.2,
 0.0,
 -0.16875,
 -0.8,
 -0.13333333333333333,
 0.0,
 0.0,
 0.0,
 0.0,
 0.35,
 -0.5,
 -0.03333333333333329,
 -0.04999999999999993,
 0.0,
 0.0,
 0.0,
 0.0,
 -0.275,
 0.1369047619047619,
 -0.28125,
 0.2222222222222222,
 0.0,
 0.0,
 0.19999999999999998,
 -0.06818181818181818,
 0.0,
 -0.19999999999999998,
 -0.8,
 -0.024999999999999994,
 0.0,
 0.0,
 -0.5,
 -0.4,
 0.0,
 0.0,
 0.0,
 -0.2988839285714286,
 0.5,
 0.0,
 -0.4,
 0.0,
 0.45,
 -0.45089285714285715,
 0.31666666666666665,
 -0.3499999999999999,
 -0.25,
 0.1666666666666667,
 -0.2,
 -0.09999999999999999,
 -0.4,
 0.0,
 -0.16666666666666666,
 0.35,
 0.3181818181818182,
 -0.11249999999999996,
 0.0,
 -0.2,
 0.0,
 -0.58828125,
 -0.5,
 0.0,
 0.5,
 0.3333333333333333,
 0.0,
 0.0,
 -0.3,
 0.46875,
 0.0,
 0.0,
 0.2722222222222222,
 -0.2333333333333333,
 -0.4535714285714286,
 0.0,
 0.0,
 0.1,
 -0.6,
 -0.7,
 0.575,
 0.0,
 0.0,
 0.0,
 0.125,
 0.0,
 0.0,
 -0.13333333333333333,
 0.8,
 0.0,
 -0.5,
 0.0,
 0.0,
 0.0,
 0.2,
 0.43333333333333335,
 0.0,
 0.0,
 0.5,
 0.4,
 -0.5,
 0.2,
 0.0,
 0.4,
 0.26249999999999996,
 -0.2916666666666667,
 -0.23214285714285715,
 0.5,
 0.0,
 0.35,
 0.5833333333333334,
 0.0,
 -0.6999999999999998,
 -0.3194444444444444,
 0.05,
 -0.3333333333333333,
 0.2,
 -0.2916666666666667,
 0.23333333333333336,
 -0.298828125,
 -0.6,
 0.0,
 -0.09166666666666667,
 -0.5,
 0.0,
 -0.5,
 -0.012499999999999997,
 0.0,
 0.7,
 0.0,
 0.2130681818181818,
 0.0,
 -0.1,
 -0.13181818181818183,
 0.125,
 -0.5,
 -0.25,
 -0.5,
 0.27,
 0.0,
 -0.06590909090909092,
 0.0,
 -0.35,
 -0.5333333333333333,
 -0.4357142857142857,
 -0.2,
 0.0,
 0.0,
 -0.4,
 -0.2,
 0.0,
 -0.4,
 0.0,
 0.0,
 0.4673549107142857,
 -0.65,
 0.0,
 1.0,
 0.0,
 0.0,
 0.25,
 0.44285714285714284,
 -0.5,
 -0.18181818181818182,
 -0.5,
 -0.4,
 0.0,
 0.0,
 1.0,
 0.7,
 0.3,
 0.0,
 0.38244949494949493,
 -0.5,
 -0.7999999999999999,
 0.03125,
 0.445,
 0.0,
 0.0,
 -0.2,
 0.0,
 0.2857142857142857,
 0.0,
 0.125,
 0.5,
 -0.1,
 0.0,
 0.4166666666666667,
 -0.062499999999999986,
 -0.6999999999999998,
 1.0,
 -0.6,
 -0.25,
 0.0,
 0.3,
 0.0,
 -0.15,
 -0.41666666666666663,
 -0.2,
 0.0,
 0.13636363636363635,
 -0.2,
 -0.3,
 -0.15,
 0.15,
 0.0,
 -0.4,
 -0.1285714285714286,
 -0.3,
 -0.3,
 0.0,
 -0.4,
 0.0,
 -0.6999999999999998,
 0.0,
 0.0,
 0.2,
 0.03437499999999999,
 -1.0,
 0.0,
 0.31666666666666665,
 -0.05,
 0.2,
 0.09999999999999999,
 0.0,
 0.125,
 0.0,
 -0.3333333333333333,
 -0.34920634920634924,
 0.35,
 0.0,
 -0.7142857142857143,
 0.0,
 0.0,
 0.06818181818181818,
 0.0,
 0.2,
 0.1,
 0.037500000000000006,
 -0.3083333333333333,
 0.5666666666666667,
 -0.6499999999999999,
 -0.8,
 0.5,
 0.0,
 0.0,
 0.0,
 -0.4953703703703704,
 0.7,
 0.0,
 0.0,
 0.31666666666666665,
 0.0,
 -0.1,
 -0.325,
 -0.175,
 0.5625,
 0.0,
 0.0,
 -0.15555555555555559,
 0.13636363636363635,
 -0.18181818181818182,
 0.0,
 -0.6464285714285715,
 -0.5,
 0.0,
 0.0,
 0.0,
 -0.1,
 0.0,
 -0.35,
 0.039999999999999966,
 0.0,
 0.0,
 0.6875,
 -0.0625,
 0.225,
 0.15000000000000008,
 -0.057499999999999996,
 0.0,
 -0.1,
 -0.15555555555555559,
 -0.5999999999999999,
 -0.5,
 0.2,
 0.016666666666666663,
 0.16666666666666666,
 0.1,
 0.0,
 0.3,
 0.0,
 -0.35000000000000003,
 0.012500000000000011,
 -0.05639730639730641,
 0.4,
 -0.05,
 0.0,
 0.0,
 0.03441558441558441,
 0.12857142857142856,
 0.16818181818181818,
 -0.4,
 0.13636363636363635,
 0.0,
 -1.0,
 0.5,
 0.0,
 0.0,
 -0.16666666666666666,
 -0.16666666666666666,
 0.25625,
 0.19166666666666665,
 0.2088541666666667,
 -0.6,
 -0.15555555555555559,
 0.16666666666666666,
 0.46875,
 0.0,
 0.0,
 0.0,
 -0.012500000000000011,
 0.1,
 -0.25,
 0.0,
 0.0,
 0.0,
 -0.08333333333333334,
 0.5,
 0.2,
 0.04545454545454549,
 -0.5,
 0.13636363636363635,
 -0.22500000000000003,
 0.0,
 0.0,
 0.0,
 0.13636363636363635,
 0.2,
 -0.5,
 0.0,
 0.0,
 -0.6833333333333332,
 0.19444444444444442,
 0.21666666666666665,
 -0.07142857142857147,
 0.0,
 0.0,
 0.35,
 0.0,
 0.0,
 -0.2,
 0.0,
 0.0,
 -0.16666666666666666,
 0.14444444444444446,
 0.0,
 0.0,
 0.0666666666666667,
 -0.5,
 -0.5,
 -0.3249999999999999,
 0.1,
 -0.875,
 0.0,
 -0.25,
 -0.15,
 -0.11666666666666668,
 0.0,
 0.09999999999999998,
 0.2,
 -0.25,
 0.0,
 -0.25,
 -0.2916666666666667,
 0.15,
 -0.1,
 0.55,
 -0.1171875,
 -0.25,
 0.0,
 0.0,
 -0.4,
 0.0,
 -0.5,
 0.0,
 0.0,
 -0.1,
 0.3125,
 0.0,
 0.0,
 -0.7142857142857143,
 1.0,
 0.0,
 0.76,
 -0.4375,
 -0.3,
 -0.5625,
 -0.6999999999999998,
 0.0,
 0.4,
 0.25625,
 0.0,
 -0.23076923076923078,
 0.2,
 -0.8,
 0.0,
 0.10178571428571427,
 0.0,
 0.0,
 0.0,
 0.0,
 0.05,
 0.0,
 0.03333333333333333,
 -0.78125,
 0.0,
 0.0,
 0.25,
 -0.4,
 0.0,
 -0.15000000000000002,
 0.0,
 0.0,
 0.15000000000000002,
 0.0,
 0.5285714285714286,
 -0.05,
 0.0,
 1.0,
 0.5,
 0.15,
 0.35,
 0.0,
 -0.8928571428571429,
 0.0,
 0.002499999999999991,
 0.0,
 -0.2916666666666667,
 0.0,
 -0.35,
 0.0,
 0.0,
 0.0,
 -0.15000000000000002,
 -1.0,
 -0.15,
 0.0,
 0.0,
 -0.196875,
 -1.0,
 -0.5,
 0.0,
 0.0,
 0.0,
 0.625,
 -0.2,
 0.0,
 0.016666666666666677,
 0.25,
 0.4,
 0.5,
 -0.7142857142857143,
 0.25,
 0.0,
 -0.16666666666666666,
 0.25,
 0.25,
 -0.15,
 -0.19722222222222224,
 -0.4,
 0.0,
 0.0,
 0.0,
 0.0,
 -0.055555555555555546,
 -0.5,
 0.0,
 -0.8,
 -0.15555555555555559,
 0.11666666666666668,
 -0.016666666666666663,
 0.05416666666666667,
 0.35833333333333334,
 0.0,
 0.35,
 -0.4375,
 0.5,
 -0.78125,
 -0.056249999999999994,
 -0.23214285714285715,
 0.14285714285714285,
 0.1,
 -0.2,
 0.35,
 0.3125,
 0.0,
 0.0,
 0.0,
 0.0,
 0.5,
 -0.36666666666666664,
 -0.5,
 0.5,
 -0.2,
 1.0,
 0.0,
 -0.9999999999999999,
 0.0,
 -0.30073051948051954,
 0.04999999999999999,
 -0.2916666666666667,
 -0.5,
 0.0,
 -0.15625,
 0.375,
 -0.15714285714285714,
 0.8,
 0.07499999999999998,
 0.25,
 0.0,
 0.05,
 0.5,
 -0.2916666666666667,
 -0.8,
 0.2,
 -0.30000000000000004,
 -0.4,
 0.2,
 0.0,
 0.0,
 0.0,
 0.4,
 0.2,
 -0.07222222222222224,
 0.2611111111111111,
 -0.25,
 0.0,
 0.024999999999999994,
 -0.2,
 0.2,
 0.2666666666666667,
 0.2,
 -0.4,
 0.0,
 0.0,
 -0.7142857142857143,
 0.0,
 0.0,
 -0.4666666666666666,
 0.0037878787878787936,
 0.2,
 -0.6,
 0.0,
 0.15,
 -1.0,
 -0.3833333333333333,
 0.3125,
 0.0,
 0.03333333333333333,
 0.0,
 0.0,
 -0.2916666666666667,
 0.0,
 0.05517578125,
 0.0,
 0.2857142857142857,
 -0.3333333333333333,
 0.0,
 0.25,
 0.1,
 0.1,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.2,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 -0.125,
 0.4,
 -0.2,
 -0.8,
 -0.8928571428571429,
 0.0,
 -0.4,
 -0.1,
 0.08333333333333334,
 -0.4,
 0.125,
 0.0,
 -1.0,
 -0.15555555555555559,
 -0.75,
 0.0,
 0.5371428571428571,
 0.0,
 -0.2916666666666667,
 -0.1,
 -0.78125,
 0.3,
 0.0,
 0.7000000000000001,
 1.0,
 -0.75,
 0.5,
 -0.09375,
 0.0,
 -0.5,
 -0.1851851851851852,
 -0.10714285714285715,
 0.2,
 0.15,
 -0.225,
 -0.1333333333333334,
 -0.5,
 -0.15555555555555559,
 0.0,
 0.35,
 0.0,
 0.0,
 0.25,
 0.0,
 -0.3212121212121212,
 0.0,
 0.125,
 -0.037500000000000006,
 0.0,
 -1.0,
 0.0,
 0.0,
 0.3125,
 0.0,
 0.65,
 0.16666666666666666,
 0.26666666666666666,
 0.7,
 0.0,
 0.1,
 -0.05833333333333335,
 0.0,
 0.06666666666666667,
 0.0,
 0.5,
 0.32222222222222224,
 0.0,
 0.0,
 0.2,
 -0.004166666666666624,
 0.0,
 -0.7,
 0.0,
 -0.25,
 0.0,
 -0.5,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 -0.10000000000000002,
 -0.2,
 -0.09583333333333334,
 0.35,
 -0.5,
 0.4375,
 -0.8,
 0.0,
 0.8,
 -0.16666666666666666,
 0.25,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 -0.35,
 -0.3,
 -0.4,
 0.0,
 -0.05,
 0.0,
 0.0,
 -0.34375,
 0.1,
 0.0,
 -0.5,
 0.03125,
 0.17619047619047623,
 0.0,
 -0.4526041666666667,
 0.875,
 0.475,
 0.0,
 -0.625,
 0.0,
 0.35,
 0.1,
 -0.30000000000000004,
 0.3575757575757576,
 -0.2,
 0.08333333333333333,
 -0.3,
 0.0,
 0.0,
 0.0,
 -0.05,
 0.13636363636363635,
 -0.5,
 0.0,
 -0.4791666666666667,
 0.0,
 0.0,
 -0.3,
 -0.2571428571428571,
 0.0,
 0.5,
 0.3125,
 0.0,
 -0.4,
 -0.15,
 0.15000000000000002,
 -0.20833333333333331,
 -0.6071428571428572,
 0.0,
 0.24545454545454545,
 0.2,
 -0.3,
 0.7,
 0.0,
 -0.1875,
 0.0,
 0.0,
 0.25,
 -0.19999999999999998,
 0.0,
 0.0,
 0.7,
 -0.8,
 0.25,
 0.0,
 0.0,
 0.033333333333333326,
 -0.09375,
 0.0,
 0.0,
 0.0062500000000000056,
 -0.5,
 0.0,
 0.0,
 0.35,
 0.1,
 0.30000000000000004,
 0.35555555555555557,
 -0.2,
 0.0,
 -0.6,
 0.0,
 0.1,
 0.05,
 -0.5,
 0.15000000000000002,
 0.05555555555555555,
 -0.016666666666666677,
 0.0,
 0.0,
 0.2,
 0.0,
 0.16666666666666666,
 -0.15555555555555559,
 0.2,
 0.5,
 0.0,
 -0.30000000000000004,
 -0.4747178819444445,
 0.0,
 0.0,
 0.0,
 0.025000000000000005,
 0.0,
 1.0,
 0.0,
 -0.36666666666666664,
 -0.6,
 0.3125,
 -0.3375,
 -0.24285714285714277,
 -0.5,
 1.0,
 0.0,
 0.0,
 0.0,
 -0.26666666666666666,
 0.1,
 0.0,
 0.2,
 -0.1,
 0.0,
 -0.5,
 0.2,
 -0.575,
 0.0,
 -0.39999999999999997,
 0.35,
 -0.125,
 0.0,
 0.0,
 0.09999999999999999,
 0.0,
 0.21428571428571427,
 -0.25,
 0.15,
 0.13636363636363635,
 -0.0944444444444444,
 -0.25,
 1.0,
 0.0,
 0.0,
 0.5,
 0.125,
 0.2,
 0.3333333333333333,
 -0.5383333333333332,
 0.1,
 -0.25,
 0.0,
 -0.16666666666666666,
 0.0,
 -0.26785714285714285,
 -0.6999999999999998,
 -0.265909090909091,
 -0.375,
 0.4,
 -0.2,
 0.3,
 0.0,
 0.0,
 -0.5,
 0.2,
 0.2,
 0.0,
 -0.1,
 0.0,
 0.0,
 -0.18666666666666668,
 0.0,
 0.3,
 0.21666666666666665,
 0.4,
 0.0,
 0.0,
 0.04999999999999999,
 -0.05,
 0.4681818181818182,
 0.0,
 0.0,
 0.7,
 0.0,
 0.25,
 -0.2,
 0.0,
 -0.3499999999999999,
 0.16354166666666667,
 -0.14166666666666666,
 0.0,
 0.0,
 -0.625,
 0.125,
 0.8,
 0.5,
 -0.35714285714285715,
 0.0,
 0.0,
 0.0,
 0.0,
 -0.1416666666666667,
 0.0,
 -0.65,
 -0.24999999999999992,
 0.5,
 0.2,
 0.8,
 0.0,
 -0.3,
 0.0,
 -0.5,
 0.5,
 -0.625,
 0.0,
 0.35,
 -0.07500000000000001,
 -0.3,
 -0.2,
 0.0,
 0.0,
 0.0,
 0.4,
 -0.8,
 0.0,
 0.3,
 0.0,
 -0.6138888888888888,
 -0.375,
 0.2,
 0.0,
 0.05,
 0.0,
 0.0,
 -0.03333333333333333,
 0.05,
 0.0,
 0.0625,
 0.0,
 -1.0,
 0.0,
 0.55,
 -0.2,
 0.0,
 0.0,
 -0.25,
 -0.31111111111111106,
 0.0,
 0.017857142857142856,
 -0.5208333333333333,
 0.07102272727272727,
 0.1,
 0.0,
 0.0,
 0.1,
 0.0,
 -0.15000000000000002,
 0.0,
 -0.29999999999999993,
 0.4,
 0.15833333333333335,
 0.0,
 0.0,
 -0.06666666666666667,
 0.0,
 -0.4,
 0.8,
 0.13333333333333333,
 0.125,
 0.0,
 0.0,
 -0.525,
 ...]

In [8]:
data['label'] = labels

In [9]:
data.head()

,ID,Date,QUERY,Username,Statement,label
0,1467810369,Mon Apr 06 22:19:45 PDT 2009,NO_QUERY,_TheSpecialOne_,"@switchfoot http://twitpic.com/2y1zl - Awww, t...",0.216667
1,1467810672,Mon Apr 06 22:19:49 PDT 2009,NO_QUERY,scotthamilton,is upset that he can't update his Facebook by ...,0.000000
2,1467810917,Mon Apr 06 22:19:53 PDT 2009,NO_QUERY,mattycus,@Kenichan I dived many times for the ball. Man...,0.500000
3,1467811184,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,ElleCTF,my whole body feels itchy and like its on fire,0.200000
4,1467811193,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,Karoli,"@nationwideclass no, it's not behaving at all....",-0.625000

In [10]:
def pol_to_label(x):
    if x>0 and x<=1:
        return 'pos'
    elif x==0:
        return 'neutral'
    elif x<0 and x>=-1:
        return 'neg'
    pass

data.label = data.label.apply(pol_to_label)

In [11]:
data

,ID,Date,QUERY,Username,Statement,label
0,1467810369,Mon Apr 06 22:19:45 PDT 2009,NO_QUERY,_TheSpecialOne_,"@switchfoot http://twitpic.com/2y1zl - Awww, t...",pos
1,1467810672,Mon Apr 06 22:19:49 PDT 2009,NO_QUERY,scotthamilton,is upset that he can't update his Facebook by ...,neutral
2,1467810917,Mon Apr 06 22:19:53 PDT 2009,NO_QUERY,mattycus,@Kenichan I dived many times for the ball. Man...,pos
3,1467811184,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,ElleCTF,my whole body feels itchy and like its on fire,pos
4,1467811193,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,Karoli,"@nationwideclass no, it's not behaving at all....",neg
...,...,...,...,...,...,...
1599995,2193601966,Tue Jun 16 08:40:49 PDT 2009,NO_QUERY,AmandaMarie1028,Just woke up. Having no school is the best fee...,pos
1599996,2193601969,Tue Jun 16 08:40:49 PDT 2009,NO_QUERY,TheWDBoards,TheWDB.com - Very cool to hear old Walt interv...,pos
1599997,2193601991,Tue Jun 16 08:40:49 PDT 2009,NO_QUERY,bpbabe,Are you ready for your MoJo Makeover? Ask me f...,pos
1599998,2193602064,Tue Jun 16 08:40:49 PDT 2009,NO_QUERY,tinydiamondz,Happy 38th Birthday to my boo of alll time!!! ...,pos
1599999,2193602129,Tue Jun 16 08:40:50 PDT 2009,NO_QUERY,RyanTrevMorris,happy #charitytuesday @theNSPCC @SparksCharity...,pos

In [12]:
data.label.isnull().sum()

0

In [13]:
data.label.value_counts()

pos        698007
neutral    568723
neg        333270
Name: label, dtype: int64